@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply shadow-md;
    }
}

@font-face {
    font-family: "VisbyRound";
    src: local('VisbyRound'), url("../fonts/VisbyRoundCF-Heavy.otf") format("opentype");
}

@font-face {
    font-family: "Moderat-Regular";
    src: local('Moderat-Regular'), url("../fonts/Moderat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ModeratBold";
    src: local('ModeratBold'), url("../fonts/Moderat-Bold.ttf") format("truetype");
}

/*
html {
    height: 100%;
}
*/

details summary {pointer: hover;}

.prose li {
    margin-top: 0.25em !important;
    margin-bottom: .25em !important;
  }

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4 {font-family: "VisbyRound";}
body {font-family: "Moderat-Regular";}